@import url("https://fonts.googleapis.com/css?family=Lato:100&effect=neon");
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

body {
  background-color: #111;
  color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'lato', sans-serif;
  text-shadow: 4px 4px 4px pink; }

#quote-box {
  position: relative;
  width: 500px;
  padding: 40px 50px;
  display: table; }

#text {
  font-size: 2.5em; }

.quote-author {
  float: right;
  font-size: 1.5em; }

#tweet-icon {
  font-size: 2em;
  padding-top: 5px; }

.buttons {
  width: 500px;
  margin-top: 50px;
  display: block; }

.button {
  height: 38px;
  color: pink;
  font-family: 'lato', sans-serif;
  font-weight: 800;
  background-color: #111;
  border: none; }

.button:hover {
  color: pink;
  cursor: pointer; }

#new-quote {
  font-size: 1.5em;
  font-weight: 100; }
